{%  extends 'ecom/main.html' %}

{% load static %}

{% block content %}
<style>

body{
      background: white url({% static 'images/background.jpg' %}) no-repeat;
      background-size: 100%;
      background-attachment: fixed;
  }

  .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-content:stretch;
    align-items: start;
    align-items: stretch;
  }
  .wrapper > div{
    padding: 1em;
}

  .box1 {
    /* align-self: start; */
    grid-column: 1/2;
    grid-row: 1/3;
    background-color:#e6e6e6;
    padding: 20px;
    box-shadow: 6px 2px 30px 0px rgba(115, 115, 115);


  }
  .box2 {
    /* align-self: end; */
    grid-column:2/3 ;
    grid-row:1/3;
    background-color:#e6e6e6;
    padding: 20px;
    box-shadow: 6px 2px 30px 0px rgba(115, 115, 115);
  }
  .box3 {
    /* justify-self: end; */
    grid-column: 3/5;
    grid-row: 1/3;
    background-color:#e6e6e6;
    padding: 20px;
    box-shadow: 6px 2px 30px 0px rgba(115, 115, 115);
  }
  .box4 {

  display: grid;
  grid-column: 1/5;
  grid-row: 3/5;
   grid-gap: 1em;
   background-color:#e6e6e6;
   padding: 20px;
   box-shadow: 6px 2px 30px 0px rgba(115, 115, 115);
}
 .box4 > div:nth-child(odd){
  background: #d6d6d6
}
 .box4 > div{
  background: #ffffff;
  padding: 1em;
}

.quantity-cont{
  display:grid;
  grid-template-columns: 0.3fr 1fr 6fr
}

.changerow > tr:nth-child(odd){
  color: blue;
}


</style>
<body>
  <div class="wrapper">
      <div class="box box1">
        <a class="btn btn-sm btn-info" href="{% url 'home' %}">Return to shop</a>
        <div style="height:40px;"></div>
        <p style="font-size:18pt;">Items: {{order.get_cart_items}} </p>
      </div>
      <div class="box box2">
      <div style="height:70px;"></div>
      <p style="font-size:18pt;">Total Cost: £{{order.get_cart_total|floatformat:2}}</p>
    </div>
      <div class="box box3">
        <div style="float:right; height:120px; width:50px; background-color:blue; visibility:hidden;">
          <a  class="btn btn-lg btn-success" style="visibility: visible;position:absolute; right: 45px; bottom:540px;" href="{% url 'checkout' %}">Checkout</a>
      </div>
    </div>
      <div class="box box4">
<table style="width:100%;">
  <tr class="changerow">
    <td></td>
    <td class="table-width">Product</td>
    <td>Price</td>
    <td>Quantity</td>
    <td>Total</td>
  </tr>
  {% for item in items %}
  <tr>
  <td><img style="width:50px; height:auto;" src="{{item.product.image.url}}"></img></td>
  <td>{{item.product.name}}</td>
  <td>£{{item.product.price|floatformat:2}}</td>
  <td>
    <div class="quantity-cont">
      <div>
    {{item.quantity}}
    </div>
    <div>
    <a href=""><img data-product="{{item.product.id}}" data-action="add" class="update-cart" style="width:14px; height:auto;" src="{% static 'images/up-arrow.png' %}"></a>
    <a href=""><img data-product="{{item.product.id}}" data-action="remove" class="update-cart" style="width:14px; height:auto;" src="{% static 'images/down-arrow.png' %}"></a>
    </div>
  </div>
  </td>
  <td>£{{item.get_total|floatformat:2}}</td>
  {% endfor %}
</table>
</div>


</div>



</div>
</body>
{% endblock %}
